<%- include('partials/header') %>

<div class="container mt-4">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-sm align-middle">
      <thead class="table-primary text-center">
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Fecha de Lanzamiento</th>
          <th>Almacenamiento</th>
          <th>Edad Recomendada</th>
          <th>Marca</th>
          <th>Categoría</th>
          <th>Imagen</th>
          <th>Operaciones</th>
        </tr>
      </thead>
      <tbody>
        <% videojuegos.forEach(videojuego => { %>
        <tr>
          <td class="text-nowrap text-center"><%= videojuego.idvideojuego %></td>
          <td class="text-nowrap"><%= videojuego.titulo %></td>
          <td class="text-nowrap"><%= videojuego.descripcion %></td>
          <td class="text-nowrap">S/ <%= Number(videojuego.precio).toFixed(2) %></td>
          <td class="text-nowrap text-center"><%= videojuego.flanzamiento %></td>
          <td class="text-nowrap"><%= videojuego.peso %> kg</td>
          <td class="text-nowrap"><%= videojuego.edadrec %></td>
          <td class="text-nowrap"><%= videojuego.marca %></td>
          <td class="text-nowrap"><%= videojuego.categoria %></td>
          <td class="text-nowrap text-center">
            <img src="/images/videojuegos/<%= videojuego.imagen %>" alt="Imagen" width="60" height="60">
          </td>
          <td class="text-nowrap">
            <div class="btn-group" role="group">
              <a href="/edit/<%= videojuego.idvideojuego %>" class="btn btn-sm btn-info me-2">Editar</a>
              <a href="/delete/<%= videojuego.idvideojuego %>" class="btn btn-sm btn-danger delete">Eliminar</a>
            </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <div class="text-end">
    <a href="/create" class="btn btn-success mt-3">Registrar nueva consola</a>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".delete").forEach(enlace => {
      enlace.addEventListener("click", (event) => {
        event.preventDefault();
        Swal.fire({
          title: 'Consola',
          text: '¿Está seguro de eliminar esta videojuego?',
          icon: 'question',
          footer: 'Mundo Digital - Proyecto',
          confirmButtonText: 'Aceptar',
          confirmButtonColor: '#2980b9',
          showCancelButton: true,
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#c0392b'
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = event.target.getAttribute("href");
          }
        });
      });
    });
  });
</script>

<%- include('partials/footer') %>
